#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE := 1
export PROJECT := 3proxy
export DESTDIR := debian/$(PROJECT)

override_dh_auto_clean:
	mkdir $(PROJECT)
	tar zxf $(PROJECT)*.orig.tar.gz --strip=1 -C $(PROJECT)

override_dh_auto_configure:

override_dh_auto_build:
	cd $(PROJECT) && $(MAKE) -f Makefile.Linux

override_dh_auto_test:

override_dh_auto_install:
	install -g 0 -o 0 -d $(DESTDIR)/usr/sbin/
	install -g 0 -o 0 -d $(DESTDIR)/etc/$(PROJECT)/
	install -m755 $(PROJECT)/src/$(PROJECT) $(DESTDIR)/usr/sbin/
	install -m644 $(PROJECT)/cfg/3proxy.cfg.sample $(DESTDIR)/etc/$(PROJECT)/$(PROJECT).cfg

# the SHA1 of dockerinit is important: don't strip it
# also, Go has lots of problems with stripping, so just don't
override_dh_strip:

%:
	dh $@

